ion-menu-button {
    padding-bottom: 16px;
    color: var(--light-beige);
}


.title-content {
    --background: var(--light-beige);
    overflow: hidden;
}

.bullet-point {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
}

#main-content {
    height: 124%;
    display: grid;
    grid-template-rows: 4fr 4fr 2fr;
}