ion-menu-button {
    padding-bottom: 16px;
    color: var(--light-beige);
}

.ion-padding {
    --background: var(--light-green);
}

.title-content {
    --background: var(--light-beige);
    overflow: hidden;
}

.bullet-point {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
}

#main-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr auto;
}