.paragraph {
    font: bold 14px var(--font);
    color: var(--dark-green);
}

.title {
    font: bold 64px var(--font);
    color: var(--dark-green);
}

.subtitle {
    font: bold 32px var(--font);
    color: var(--dark-green);
}

.option {
    font: bold 18px var(--font);
    color: var(--light-beige);
}

.option:hover {
    color: var(--light-green);
}

.dark-button {
    --background: var(--dark-green);
    --color: var(--light-beige);
    --border-radius: 8px;
    font: 14px var(--font);
}

.ion-padding {
    height: 100%;
    --background: var(--light-green);
}

.light-button {
    --background: var(--light-beige);
    --color: var(--dark-green);
    --border-radius: 8px;
    font: 14px var(--font);
}

.double-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

ion-toolbar {
    --background: var(--dark-green);
    max-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.page-layout {
    display: grid;
    grid-template-columns: auto 1fr;
}

.page-content {
    height: 200%;
}

html, body, ion-app {
    height: 100%;
    margin: 0;
}